{{#each accounts as |account|}}

  <!-- {{> partial}}
  Don't uncomment yet -->

   <!-- Developers, why are we using data-id and not just id? -->
   <!-- <ul data-id="{{account.id}}">
     <li> <small>Title: {{account.web_name}}</small></li>
        <li>{{account.password_hint}}</li>
      <li><button type="button" name="button">Remove</button></li>
   </ul> -->



   <div data-id="{{account.id}}">
     <p>{{account.web_name}}</p>
     <p>{{account.password_hint}}</p>

     <!-- Button trigger modal -->
     <button type="button" class="btn btn-default" data-toggle="modal" data-target="#{{account.id}}">
       Launch demo modal
     </button>

     <!-- Modal -->
     <div class="modal fade" id="{{account.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title" id="myModalLabel">Modal title</h4>
           </div>
           <div class="modal-body">
             <form id="update-hint">
               <h1 >Update!</h1>
                 <input type="text" name="account[web_name]" value="{{account.web_name}}">
                 <input type="text" name="account[password_hint]" value="{{account.password_hint}}">
                 <input type="submit" name="submit" id="#{{account.id}}" class="submit-update">
             </form>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary">Save changes</button>
           </div>
         </div>
       </div>
     </div>


     <button type="button" name="button" class="btn btn-default">Remove</button>
   </div>

{{/each}}
